﻿@using RESTAPI.Models
@model IEnumerable<Image>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
        <link rel="stylesheet" type="text/css" href="StyleSheet.css" />
    
</head>
<body>
    <h2>All images</h2>
    @{ 
        foreach(var image in Model)
        {
            <div>
            <img src=@image.URL alt="Image" width="100" height="100"/> 
                </div>
        }
    }
</body>
</html>
